<% if user_signed_in? %>
	<h1>Welcome Back!!!</h1>
	<p>You are signed in whoop whoop</p>
<% else %>
	<div class="hero-unit">
	<h1>Welcome to OMR</h1>
	<p>wow homepage for <%= link_to "One Month Rails", "http://onemonthrails.com"%> application</p>

	<p> <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-warning btn-lg" %> </a></p>
	<% end %>
</div>
